<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


</style>
</head>
<body>




<ul>
  <li><a href="{{ path('home') }}">Home</a></li>
  <li><a href="{{ path('usuario_index') }}">Usuarios</a></li>
  <li><a href="{{ path('ranking') }}">Ranking</a></li>
  <li><a href="{{ path('login') }}">Login</a></li>
  <li><a href="{{ path('register') }}">Register</a></li>
  <li><a href="{{ path('cards') }}">Cards</a></li>
    <li><a href="{{ path('paco_index') }}">PacoUsers</a></li>
  {% if app.user %}
  <li><a href="{{ path('logout') }}">Logout</a></li>
  {% endif %}

</ul>
{% block body %}
{% endblock %}
</body>
</html>
