{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de usuarios</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Contrasenya</th>
                <th>Ranking</th>
                <th>Level</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.contrasenya }}</td>
                <td>{{ usuario.ranking }}</td>
                <td>{{ usuario.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">Mostrar usuario</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar usuario</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_new') }}">Crear usuario</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
